/*Author: Florence Vicil Anaya - Developer - vicilanaya@gmail.com*/


/* CSS3 fallback for IE */
header, main, nav, footer, section, article, figure, figcaption, aside { display: block; }

/* Flexbox */
* { box-sizing: border-box; }

body {
    font-family: sans-serif;
    background-color: oldlace;
}
footer {
    font-size: xx-small;
    text-align: center;
}
h1 {
    text-shadow: 5px 5px 5px gray;
    font-family: monospace;
}
h3 {
    margin-top: 5%;
    margin-bottom: 0;
}
h1, h3, h4, p {
    text-align: center;
}
input {
    border-radius: 7px;
}
section {
    border: 3px solid gray;
    border-radius: 40px;
    margin: 1%;
    padding: 0% 2% 0% 2%;
    height: 275px;
}
span {
    color: red;
}
/*
ul {
    list-style-type: none;
    padding-left: 0;
}
*/



#d20, #d12, #d10-1, #d10-2, #d8, #d6, #d4 {
    min-width: 150px;
}
#flex-container-dice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
#grid-container-d10 {
    display: grid;
    grid-template-columns:50% 50%;
}
#d10-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#d10-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.n {
	font-size: 300%;
    text-align: center;
    color: red;
    font-family: monospace;
}
#wrapper {
    width: 70%;
	margin-left: auto;
	margin-right: auto;
}
